streamlit
pandas
numpy
transformers
bertopic
hdbscan
annoy
groq
python-dotenv
sentence-transformers==3.4.1
flair
nltk
loguru
fastdtw
tenacity
scikit-learn
matplotlib
seaborn
torch==2.2.0
torchvision==0.21.0
llvmlite==0.39.1

