streamlit
pandas
numpy
hf_xet
transformers
bertopic
hdbscan
annoy
groq
python-dotenv
sentence-transformers==3.4.1
flair
nltk
loguru
fastdtw
tenacity
scikit-learn
matplotlib
seaborn
torch==2.2.0
torchvision==0.17.0
numba==0.59.1
llvmlite
openai
spacy
stop_words
wordcloud
tweepy
cv2
