streamlit
pandas
numpy
transformers>=4.38.0
bertopic
hdbscan
annoy
groq
python-dotenv
sentence-transformers==3.4.1
flair
top2vec
nltk
loguru
fastdtw
tenacity
numba>=0.59.0
scikit-learn
matplotlib
seaborn
